.error{
    margin-top: 200px;
    display: block;

    .title{
        margin-top: 200px;
        color: #243949;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    .link {
        text-align: center;
        font-size: 26px;
        align-items: center;
    }
}