.about{

    .title{
        text-align: center;
        margin-top: -100px;
    }

    p   {
        text-align: justify;
        margin: 20px;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .embed-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .partnersabout{
        margin-top: 100px;
      }
    
}