footer {
    background-color: #f7f7f7;
    padding: 50px 0 20px 0;
}
  
  .footer-head {
    color: #516378;
    font-size: 1.125rem;
    font-weight: 500;
  }
  
  .footer-links {
    margin: 1em 0;
    padding: 0;
  }
  
  .footer-links li {
    display: block;
    padding-bottom: 10px;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  
  .footer-links li a {
    display: block;
    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #516378;
    font-size: 0.875rem;
    font-weight: 400;
  }
  
  .footer-links li a:hover {
    color: #5b83fe;
  }
  
  .footer {
    background-color: #033142;
    padding: 50px 0 20px 0;
    color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .footer-copyright {
    padding-top: 20px;
    border-top: 1px solid #727171;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: #acacac;
  }
  
  .copy-text {
    text-align: center;
    color: #516378;
    font-size: 0.875rem;
    font-weight: 400;
  }
  
  .footer-share-it {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-share-it .shate-it-item {
    display: inline-block;
  }
  
  @media (max-width: 768px) {
    footer {
      text-align: center;
    }
    .copy-text {
      margin-top: 15px;
    }
  }
  
  @media (min-width: 768px) {
    .copy-text {
      text-align: right;
      line-height: 40px;
    }
  }
  
  .copyright-bar {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(81, 99, 120, 0.2);
  }
  
  .btn-share-sm {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 0.973rem;
    font-weight: 400;
    width: 35px;
    padding: 5px;
    margin: 3px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-share-sm:focus,
  .btn-share-sm:hover {
    color: #fff;
  }
  
  .btn-share-sm:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .share-it .shate-it-item {
    display: inline-block;
  }
  
  .bg-facebook {
    background-color: #4769b2 !important;
  }
  
  .bg-twitter {
    background-color: #29a9e1 !important;
  }
  
  .bg-instagram {
    background-color: #E1306C !important;
  }
  