.container{
    .call-action-media {
    border-radius: 25px;
    border: 1px solid #5b83fe;
    background-color: #FFF;
    padding: 30px;
    }
  
    .call-action-media-text {
    color: #666666;
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.5;
    }
    
    .call-action-media .media-body {
        margin-left: 5%;
    }
    
    a:hover{
        text-decoration-line: none;
    }
}

  @media (max-width: 900px) {
    .container{
    .call-action-media .media {
      display: block;
      text-align: center;
    }
    .call-action-media .media-body {
      margin-left: 0%;
      margin-top: 1.5rem;
    }

    .h3media{
        font-size: 16px;
    }

    .button{
      padding: 0px;
      padding-left: 0px;
    }

  }  
}

