.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to right,#00c6ff ,#0072ff);
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
  
    &:hover {
      background-image: linear-gradient(to right,#0072ff ,#00c6ff);
      border: none;
    }
    /*
    &.google-sign-in {
      background-image: linear-gradient(to right,#00c6ff ,#0072ff);
      color: #FFF;

      &:hover {
        background-image: linear-gradient(to right,#4285F4 ,#34A853,#FBBC05, #EA4335 );
        color: #FFF;
      }
    }
    */

    &.inverted {
      background-image: none;
      background-color: #FFF;
      border: 1px solid #0072ff;
      color: #0072ff;
      box-shadow: none;
      
      &:hover{
        background-image: linear-gradient(to right,#0072ff ,#00c6ff);
        border: none;
        color: #FFF;
      }
    }
}

@media (max-width: 1100px) {
  .custom-button {
    min-width: 150px;
    width: auto;
    height: 50px;
    line-height: 50px;
    padding: 0 10px 0 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to right,#00c6ff ,#0072ff);
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 700px) {
.cart-dropdown {
  position: absolute;
  width: 220px;
  height: 300px;
  border: 2px solid #0072ff;
  padding: 10px;
  top: 180px;
  right: 10px;
  z-index: 5;
  font-size: 10px;

  .empty-message {
    font-size: 14px;
    margin: 50% auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    font-size: 10px;
  }

  button {
    margin-top: auto;
    font-size: 12px;
  }
}
}