.collection-item {
    background-color: #FFF;
    width: 20vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
    border-radius: 25px;
    box-shadow: 8px 8px 10px 3px rgba(0,0,0,0.2);
    cursor: pointer;
  
    .image {
      width: 90%;
      height: 75%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }

    .custom-button {
      width: 90%;
      opacity: 0.6;
      position: absolute;
      top: 290px;
    }

    .collection-footer {
      width: 100%;
      background-image: none;
      color: #00c6ff;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding: 5%;
      border-radius: 25px;
    }

    .collection-footer:hover {
      background-image: linear-gradient(to right,#00c6ff 100%,#0072ff 100%,#00c6ff 100%);
      color: #FFF;
    }
}

@media (max-width: 1000px) {
  .collection-item {
    padding: 0 50px 0 50px;
    margin-top: 15px;
    background-color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    position: relative;
    border-radius: 25px;
    box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.2);
    cursor: pointer;
  
    .image {
      width: 100%;
      height: 70%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }

    .custom-button {
      width: 100%;
      opacity: 0.7;
      position: absolute;
      top: 250px;
    }

    .collection-footer {
      width: 100%;
      background-image: none;
      color: #00c6ff;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      padding: 5% 10%;
      border-radius: 25px;
      border-top-left-radius: none;
      border-top-right-radius: none;
    }
}
}

@media (max-width: 700px) {
  .collection-item {
    .image {
      width: 70%;
      height: 70%;
      background-size: cover;
      background-position: center;
    }

    .custom-button {
      width: 100%;
      opacity: 0.7;
      position: absolute;
      top: 250px;
    }

    .collection-footer {
      width: 100%;
      background-image: none;
      color: #00c6ff;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      padding: 5% 10%;
      border-radius: 25px;
    }
  }
}
