header {
    padding: 150px 50px;
    color: #243949;

    .title{
        margin-top: 100px;
        color: #243949;
        font-size: 32px;
        font-weight: bold;
        opacity: 0;
        animation: fadeSimple 0.5s ease-in-out 0.5s forwards;
    }

    .parragraph{
        text-align: justify;
        opacity: 0;
        animation: fadeSimple 1.5s ease-in-out 1.5s forwards;
    }

    .pair-btns-list{
        margin: 50px;
        display: flex;
        justify-content: space-around;
        opacity: 0;
        animation: fadeSimple 2.5s ease-in-out 2.5s forwards;
    }

    .custom-button{
        margin-right: 20px;
    }

    .image {
        opacity: 0;
        animation: fadeSimple 3.5s ease-in-out 3.5s forwards;
    }
}


  
@media (max-width: 900px) {
    header {
        padding: 100px 0 20px;
        color: #243949;

        .row{
            display: flex;
        }
    
        .title{
            margin-top: 0px;
            color: #243949;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
    
        .parragraph{
            margin: 0px;
            text-align: justify;
            font-size: 14px;
        }
    
        .pair-btns-list{
            display: flex;
            justify-content: space-around;
        }

        .custom-button{
            margin-right: 20px;
        }

        .image{
            width: 100%;
            height: auto;
        }
    }
}


@keyframes fadeSimple {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}